<nav class="uk-navbar-nocolor uk-navbar-container">
    <div class="uk-container uk-navbar-transparent">
        <div data-uk-navbar>
        <!-- <div class="uk-navbar-left">
            <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas-categoriess" data-uk-toggle><span
            data-uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Categories</span></a>
        </div> -->
        <!-- <div> -->
            <!-- <div>
            <a id="search-navbar-toggle" class="uk-navbar-toggle" data-uk-search-icon="ratio: 1.1" href="#"></a>
            <div data-uk-drop="mode: click; pos: left-center; offset: 0">
                <form class="uk-search uk-search-navbar uk-width-1-1" onsubmit="return false;">
                <input id="search-navbar" class="uk-search-input" type="search" placeholder="Search for answers"
                    autofocus autocomplete="off" data-minchars="1" data-maxitems="30">
                </form>
            </div> -->
            <!-- </div>         -->
            <a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" data-uk-toggle><span
            data-uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span></a>
            <ul class="uk-navbar-nav uk-visible@m">
                <li><a href="#"><b>Articles</b></a></li>
                <li class="uk-active"><a href="profile.php?page=favourites<?=$_get_link;?>">Favourites</a></li>
                <li class="uk-active"><a href="profile.php?page=about<?=$_get_link;?>">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<hr class = "uk-hr uk-margin-horizontal-none" style = "border-color: #b1b1b1;">

    <?php
        require_once 'classes/Article.php';

        $articles = Article::fetch_article_rows_by_author($_pseudo_acc["acc_id"]);

        if ($articles === false) {
            $errorMessage = "<p class = 'uk-text-align-center uk-margin-large-top'><b>Syntax Error</b></p>";
        } else if ($articles !== -1) {
            echo "
            <table class='table'>
                <thead class='thead-white'>
                    <tr>
                        <th style='width: 7.5%'>#</th>
                        <th style='width: 40%'>Article Name</th>
                        <th style='width: 10%'>Category</th>
                        <th style='width: 5%'>Comments</th>
                        <th style='width: 5%'>Stars</th>
                    </tr>
                </thead>
                <tbody>
            ";

            foreach($articles as $article) {
                echo "
                    <tr>
                        <th scope='row'>".$article["art_id"]."</th>
                        <td><a href = 'article.php?page=article&id=".$article["art_id"]."'>".$article["title"]."</a></td>
                        <td>".$article["categ_id"]."</td>
                        <td>".$article["comm_count"]."</td>
                        <td>".$article["stars"]."</td>
                    </tr>
                ";
            }

            echo "
                </tbody>
            </table>";

        } else {
            $errorMessage = "<p class = 'uk-text-align-center uk-margin-large-top'><b>Nothing here</b></p>";
        }
    ?>
    <?=@$errorMessage;?>