


{% set page = "main page" %}
{% extends "base.html.twig" %}

{% block title %}X04wiki{% endblock title %}

{% block body %}

<div class = "uk-section-transparent">
	{# {% include 'components/categoriesPills.php' %} #}
	
	<div class="uk-section uk-section-large">
		<div class="uk-container">
			<div data-uk-grid>
				<div class="uk-width-1-3@m">
					<h2 class="uk-h1"><a class = "uk-link" href="category.html">General</a></h2>
					<p class="uk-text-lead">All the relevant articles</p>
				</div>
				<div class="uk-width-expand@m">
					<div class="uk-child-width-1-2@s uk-h4 uk-text-500" data-uk-grid>
						<div><a href="article.php">Holisticly pontificate technology</a></div>
						<div><a href="article.php">Professionally customize systems</a></div>
						<div><a href="article.php">Independent sources alignment to the center point</a></div>
						<div><a href="article.php">Rapidious pursue improvements for interesting goals</a></div>	
						<div><a href="article.php">Independent sources alignment</a></div>
						<div><a href="article.php">Holisticly pontificate technology</a></div>
						<div><a href="article.php">Professionally customize systems</a></div>
						<div><a href="article.php">Phosfluoresce create expertise</a></div>
						<div><a href="article.php">Energistic integrated interfaces</a></div>
						<div><a href="article.php">Dynamically alone products</a></div>
						<div><a href="article.php">Independent sources alignment to the center point</a></div>
						<div><a href="article.php">Rapidious pursue improvements for interesting goals</a></div>	
					</div>
				</div>
			</div>
			<div class="uk-margin-xlarge-top" data-uk-grid>
				<div class="uk-width-1-3@m">
					<h2 class="uk-h1"><a class = "uk-link" href="category.html">Angular</a></h2>
					<p class="uk-text-lead">Front-end - TypeScript based framework for building mobile and desktop web applications </p>
				</div>
				<div class="uk-width-expand@m">
					<div class="uk-child-width-1-2@s uk-h4 uk-text-500" data-uk-grid>
						<div><a href="article.php">Holisticly pontificate technology</a></div>
						<div><a href="article.php">Professionally customize systems</a></div>
						<div><a href="article.php">Independent sources alignment to the center point</a></div>
						<div><a href="article.php">Rapidious pursue improvements for interesting goals</a></div>	
						<div><a href="article.php">Independent sources alignment</a></div>
						<div><a href="article.php">Holisticly pontificate technology</a></div>
						<div><a href="article.php">Professionally customize systems</a></div>
						<div><a href="article.php">Phosfluoresce create expertise</a></div>
						<div><a href="article.php">Energistic integrated interfaces</a></div>
						<div><a href="article.php">Dynamically alone products</a></div>
						<div><a href="article.php">Independent sources alignment to the center point</a></div>
						<div><a href="article.php">Rapidious pursue improvements for interesting goals</a></div>	
					</div>
				</div>
			</div>
			<div class="uk-margin-xlarge-top" data-uk-grid>
				<div class="uk-width-1-3@m">
					<h2 class="uk-h1"><a class = "uk-link" href="category.html">PHP</a></h2>
					<p class="uk-text-lead">Backend - Popular general-purpose scripting language that is especially suited to web development</p>
				</div>
				<div class="uk-width-expand@m">
					<div class="uk-child-width-1-2@s uk-h4 uk-text-500" data-uk-grid>
						<div><a href="article.php">Holisticly pontificate technology</a></div>
						<div><a href="article.php">Professionally customize systems</a></div>
						<div><a href="article.php">Independent sources alignment to the center point</a></div>
						<div><a href="article.php">Rapidious pursue improvements for interesting goals</a></div>	
						<div><a href="article.php">Independent sources alignment</a></div>
						<div><a href="article.php">Holisticly pontificate technology</a></div>
						<div><a href="article.php">Professionally customize systems</a></div>
						<div><a href="article.php">Phosfluoresce create expertise</a></div>
						<div><a href="article.php">Energistic integrated interfaces</a></div>
						<div><a href="article.php">Dynamically alone products</a></div>
						<div><a href="article.php">Independent sources alignment to the center point</a></div>
						<div><a href="article.php">Rapidious pursue improvements for interesting goals</a></div>	
					</div>
				</div>
			</div>
			<div class="uk-margin-xlarge-top" data-uk-grid>
				<div class="uk-width-1-3@m">
					<h2 class="uk-h1"><a class = "uk-link" href="category.html">JavaScript</a></h2>
					<p class="uk-text-lead">A famous programming language mostly used on the client-side, providing interactive elements that engage a user.</p>
				</div>
				<div class="uk-width-expand@m">
					<div class="uk-child-width-1-2@s uk-h4 uk-text-500" data-uk-grid>
						<div><a href="article.php">Holisticly pontificate technology</a></div>
						<div><a href="article.php">Professionally customize systems</a></div>
						<div><a href="article.php">Independent sources alignment to the center point</a></div>
						<div><a href="article.php">Rapidious pursue improvements for interesting goals</a></div>	
						<div><a href="article.php">Independent sources alignment</a></div>
						<div><a href="article.php">Holisticly pontificate technology</a></div>
						<div><a href="article.php">Professionally customize systems</a></div>
						<div><a href="article.php">Phosfluoresce create expertise</a></div>
						<div><a href="article.php">Energistic integrated interfaces</a></div>
						<div><a href="article.php">Dynamically alone products</a></div>
						<div><a href="article.php">Independent sources alignment to the center point</a></div>
						<div><a href="article.php">Rapidious pursue improvements for interesting goals</a></div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock body %}