.dataTables_wrapper > .row {
    margin: 15px 0
}

.exam-code {
    color: #a34747;
    font-weight: bold;
    /* text-decoration: underline; */
}

.exam-code span {
  margin-right: 5px
}

.slider-button {
    margin-top:20px;
    width:100%
}

.like-button {
  color: #888;
  font-size: 14px;
  font-family: 'Heebo', sans-serif;
  background-color: transparent;
  border: 0.1em solid;
  border-radius: 1em;
  line-height: 19px;
  box-shadow: 0 0.25em 1em -0.25em;
  padding: 0.333em 1em 0.25em;
  cursor: pointer;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
  outline: 0;
}

.like-button:hover {
  color: indianred;
}
  
.like-button:active {
  transform: scale(0.95);
}
  
.like-button.selected {
  color: #FFF;
  background-color: indianred;
  border-color: indianred;
}
  
.like-button .heart-icon {
  display: inline-block;
  fill: currentColor;
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.2em;
}