
.form-alert {
	text-align: center;
	margin: -5px auto 30px;
}

.form-alert .small-alert-text {
	
}

.form-alert.green {
	background-color: #c1f5c1;
    padding: 10px 20px;
    border-radius: 20px;
    width: 90%;
}

.form-alert-red {
	color:#fc7c7c;
	margin: 0 0 10px 10px;
	font-weight: bold;
}

.form-alert-red-cover {
	color: #ffffff;
    margin: 5px 5px 30px 0;
    padding: 5px 0;
    font-weight: bold;
    background-color: rgb(172 12 12 / 56%);
    border-radius: 15px;
	text-align: center;
}

.form-alert-white-cover {
	padding: 3px 6px;
    background-color: #78aa76;
    border-radius: 20px;
	text-align: center;
	margin-bottom: 30px;
}

.form-alert-white {
	color: #ebebeb;
    margin: 0 5px 10px 0;
    font-size: 12px;
}

.form-alert-green {
	color:#15b521;
	margin: 0 5px 10px 0;
	font-weight: bold;
}

.form-alert-green-cover {
	color: #ffffff;
    margin: 5px 5px 30px 0;
    padding: 5px 0;
    font-weight: bold;
    background-color: rgb(15 139 23 / 56%);
    border-radius: 15px;
	text-align: center;
}

.input-alert-red {
	margin-top: 3px;
	color:#fc7c7c;
	font-weight: bold;
}

.full_red_shade {
	cursor: pointer;
	background-image: -moz-linear-gradient(to left, #e8a2a2, #e87979, #e8a2a2);
	background-image: -ms-linear-gradient(to left, #e8a2a2, #e87979, #e8a2a2);
	background-image: -o-linear-gradient(to left, #e8a2a2, #e87979, #e8a2a2);
	background-image: -webkit-linear-gradient(to left, #e8a2a2, #e87979, #e8a2a2);
	background-image: linear-gradient(to left, #e8a2a2, #e87979, #e8a2a2);
}

.full_blue_shade {
	margin-top: 10px;
	cursor: pointer;
	background-image: -moz-linear-gradient(to left, #a2c9e8, #73aedf, #a2c9e8);
	background-image: -ms-linear-gradient(to left, #a2c9e8, #73aedf, #a2c9e8);
	background-image: -o-linear-gradient(to left, #a2c9e8, #73aedf, #a2c9e8);
	background-image: -webkit-linear-gradient(to left, #a2c9e8, #73aedf, #a2c9e8);
	background-image: linear-gradient(to left, #a2c9e8, #73aedf, #a2c9e8);
}

.red_shade:not(:disabled) {
	cursor: pointer;
	background-image: -moz-linear-gradient(to left, #ff3a3a, #f3cfcf);
	background-image: -ms-linear-gradient(to left, #ff3a3a, #f3cfcf);
	background-image: -o-linear-gradient(to left, #ff3a3a, #f3cfcf);
	background-image: -webkit-linear-gradient(to left, #ff3a3a, #f3cfcf);
	background-image: linear-gradient(to left, #ff3a3a, #f3cfcf);
}

.red_shade:disabled {
	cursor: default;
	background-image: -moz-linear-gradient(to left, #fbb5b5, #f3cfcf);
	background-image: -ms-linear-gradient(to left, #fbb5b5, #f3cfcf);
	background-image: -o-linear-gradient(to left, #fbb5b5, #f3cfcf);
	background-image: -webkit-linear-gradient(to left, #fbb5b5, #f3cfcf);
	background-image: linear-gradient(to left, #fbb5b5, #f3cfcf);
}