.uk-certif-box {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.votecell {
    margin-left: 15px;
    margin-right: 20px;
}

.votecell .s-popover {
    margin-bottom:30px;
    text-align: center;
}

.uk-grid > .uk-thumbnail {
    flex-basis: 25%;
}

.uk-thumbnail {
    box-sizing: border-box;
    margin: 0;
    padding: 10px 10px 20px 10px;
    border: 1px solid #E5E5E5;

    border-radius: 4px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.uk-grid-shadowing {
    box-shadow:  rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.uk-thumbnail-caption > h5 {
	margin-bottom: 10px
}

.uk-item-description {
	margin: 15px 10px 25px;
	font-size: 13px;
}

.uk-thumbnail > .container {
    overflow: hidden;
}

.uk-thumbnail > .container > img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.uk-grid {
    list-style: none;
	justify-content: space-evenly;
	row-gap: 20px;
	column-gap: 10px;
}

.uk-thumbnail-caption {
    margin-top: 10px;
    padding-top: 4px;
    text-align: center;
    color: #666;
}

