{% extends "@admin_root/base.html.twig" %}

{% block title %}Providers - Ajouter{% endblock %}

{% block scriptsheet %}
    <script>
        document.getElementById("mod_index").classList.add("link-active");
    </script>
{% endblock %}


{% block form %}
    <div class = "form_container">
        {{ include('@ressources_mod/_form.html.twig') }}
    </div>
{% endblock %}