{% extends "admin/base.html.twig" %}

{% block title %}Examens - Ajouter{% endblock %}

{% block scriptsheet %}
    <script>
        document.getElementById("admin_certif").classList.add("link-active");
    </script>
{% endblock %}


{% block form %}
    <div class = "form_container">
        {{ include('admin/exams/_form.html.twig') }}
    </div>
{% endblock %}