{% extends "@admin_root/base.html.twig" %}

{% block title %}Creations - Ajouter un certification{% endblock %}

{% block scriptsheet %}
    <script>
        document.getElementById("admin_certif").classList.add("link-active");
    </script>
{% endblock %}

{% block form %}
    <div class = "form_container">
        {{ include('@certifs_collab/_form.html.twig') }}
    </div>
{% endblock %}