


{% set page = "main page" %}
{% extends "base.html.twig" %}

{% block title %}X04wiki{% endblock %}

{% block body %}

<div class = "uk-section-transparent">
	{# {% include 'components/categoriesPills.php' %} #}
	
	<div class="uk-section uk-section-large">
		<div class="uk-container">
			<div data-uk-grid>
				<div class="uk-width-1-3@m">
					<h2 class="uk-h1"><a class = "uk-link" href="category.html">General</a></h2>
					<p class="uk-text-lead">All the relevant articles</p>
				</div>
				<div class="uk-width-expand@m">
					<div class="uk-child-width-1-2@s uk-h4 uk-text-500" data-uk-grid>
						<div><a href="article.php">Holisticly pontificate technology</a></div>
						<div><a href="article.php">Professionally customize systems</a></div>
						<div><a href="article.php">Independent sources alignment to the center point</a></div>
						<div><a href="article.php">Rapidious pursue improvements for interesting goals</a></div>	
						<div><a href="article.php">Independent sources alignment</a></div>
						<div><a href="article.php">Holisticly pontificate technology</a></div>
						<div><a href="article.php">Professionally customize systems</a></div>
						<div><a href="article.php">Phosfluoresce create expertise</a></div>
						<div><a href="article.php">Energistic integrated interfaces</a></div>
						<div><a href="article.php">Dynamically alone products</a></div>
						<div><a href="article.php">Independent sources alignment to the center point</a></div>
						<div><a href="article.php">Rapidious pursue improvements for interesting goals</a></div>	
					</div>
				</div>
			</div>
			<div class="uk-margin-xlarge-top" data-uk-grid>
				<div class="uk-width-1-3@m">
					<h2 class="uk-h1"><a class = "uk-link" href="category.html">Angular</a></h2>
					<p class="uk-text-lead">Front-end - TypeScript based framework for building mobile and desktop web applications </p>
				</div>
				<div class="uk-width-expand@m">
					<div class="uk-child-width-1-2@s uk-h4 uk-text-500" data-uk-grid>
						<div><a href="article.php">Holisticly pontificate technology</a></div>
						<div><a href="article.php">Professionally customize systems</a></div>
						<div><a href="article.php">Independent sources alignment to the center point</a></div>
						<div><a href="article.php">Rapidious pursue improvements for interesting goals</a></div>	
						<div><a href="article.php">Independent sources alignment</a></div>
						<div><a href="article.php">Holisticly pontificate technology</a></div>
						<div><a href="article.php">Professionally customize systems</a></div>
						<div><a href="article.php">Phosfluoresce create expertise</a></div>
						<div><a href="article.php">Energistic integrated interfaces</a></div>
						<div><a href="article.php">Dynamically alone products</a></div>
						<div><a href="article.php">Independent sources alignment to the center point</a></div>
						<div><a href="article.php">Rapidious pursue improvements for interesting goals</a></div>	
					</div>
				</div>
			</div>
			<div class="uk-margin-xlarge-top" data-uk-grid>
				<div class="uk-width-1-3@m">
					<h2 class="uk-h1"><a class = "uk-link" href="category.html">PHP</a></h2>
					<p class="uk-text-lead">Backend - Popular general-purpose scripting language that is especially suited to web development</p>
				</div>
				<div class="uk-width-expand@m">
					<div class="uk-child-width-1-2@s uk-h4 uk-text-500" data-uk-grid>
						<div><a href="article.php">Holisticly pontificate technology</a></div>
						<div><a href="article.php">Professionally customize systems</a></div>
						<div><a href="article.php">Independent sources alignment to the center point</a></div>
						<div><a href="article.php">Rapidious pursue improvements for interesting goals</a></div>	
						<div><a href="article.php">Independent sources alignment</a></div>
						<div><a href="article.php">Holisticly pontificate technology</a></div>
						<div><a href="article.php">Professionally customize systems</a></div>
						<div><a href="article.php">Phosfluoresce create expertise</a></div>
						<div><a href="article.php">Energistic integrated interfaces</a></div>
						<div><a href="article.php">Dynamically alone products</a></div>
						<div><a href="article.php">Independent sources alignment to the center point</a></div>
						<div><a href="article.php">Rapidious pursue improvements for interesting goals</a></div>	
					</div>
				</div>
			</div>
			<div class="uk-margin-xlarge-top" data-uk-grid>
				<div class="uk-width-1-3@m">
					<h2 class="uk-h1"><a class = "uk-link" href="category.html">JavaScript</a></h2>
					<p class="uk-text-lead">A famous programming language mostly used on the client-side, providing interactive elements that engage a user.</p>
				</div>
				<div class="uk-width-expand@m">
					<div class="uk-child-width-1-2@s uk-h4 uk-text-500" data-uk-grid>
						<div><a href="article.php">Holisticly pontificate technology</a></div>
						<div><a href="article.php">Professionally customize systems</a></div>
						<div><a href="article.php">Independent sources alignment to the center point</a></div>
						<div><a href="article.php">Rapidious pursue improvements for interesting goals</a></div>	
						<div><a href="article.php">Independent sources alignment</a></div>
						<div><a href="article.php">Holisticly pontificate technology</a></div>
						<div><a href="article.php">Professionally customize systems</a></div>
						<div><a href="article.php">Phosfluoresce create expertise</a></div>
						<div><a href="article.php">Energistic integrated interfaces</a></div>
						<div><a href="article.php">Dynamically alone products</a></div>
						<div><a href="article.php">Independent sources alignment to the center point</a></div>
						<div><a href="article.php">Rapidious pursue improvements for interesting goals</a></div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="offcanvas-categoriess" data-uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <span class="uk-logo">Categories</span>
    <button class="uk-offcanvas-close" type="button" data-uk-close></button>
    <h4 class="uk-margin-small-bottom uk-margin-medium-top">Payments & Prices</h4>
    <ul class="uk-nav uk-nav-default">
      <li><a href="category.html">Credit Card Charges</a></li>
      <li class="uk-active"><a href="category.html">Prices Sales Tax</a></li>
      <li><a href="category.html">Denied Payments</a></li>
      <li><a href="category.html">Gift Certificates</a></li>
      <li><a href="category.html">Currency Options</a></li>
    </ul>
    <h4 class="uk-margin-small-bottom uk-margin-medium-top">Shipping Info</h4>
    <ul class="uk-nav uk-nav-default">
      <li><a href="category.html">Shipping & Minimum Purchase</a></li>
      <li><a href="category.html">US Shipping Rates</a></li>
      <li><a href="category.html">International Shipping Rates</a></li>
    </ul>
    <h4 class="uk-margin-small-bottom uk-margin-medium-top">Return Items</h4>
    <ul class="uk-nav uk-nav-default">
      <li><a href="category.html">Store Refunds & Exchanges</a></li>
      <li><a href="category.html">Online Refunds</a></li>
      <li><a href="category.html">Final Sale Items</a></li>
    </ul>
  </div>
</div>

<div id="offcanvas" data-uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" data-uk-close></button>
    <ul class="uk-nav uk-nav-primary uk-nav-offcanvas uk-margin-top uk-text-center uk-text-500">
      <li class="uk-active"><a href="index.html">Home</a></li>
      <li ><a href="category.html">Category</a></li>
      <li ><a href="article.php">Article</a></li>
      <li>
        <div class="uk-navbar-item"><a class="uk-button uk-button-primary" href="contact.html">Contact</a></div>
      </li>
    </ul>
    <div class="uk-margin-top uk-text-center">
      <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center">
        <div>
          <a href="https://twitter.com/" data-uk-icon="icon: twitter" class="uk-icon-link" target="_blank"></a>
        </div>
        <div>
          <a href="https://www.facebook.com/" data-uk-icon="icon: facebook" class="uk-icon-link" target="_blank"></a>
        </div>
        <div>
          <a href="https://www.instagram.com/" data-uk-icon="icon: instagram" class="uk-icon-link" target="_blank"></a>
        </div>
        <div>
          <a href="https://vimeo.com/" data-uk-icon="icon: vimeo" class="uk-icon-link" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
</div>

{% if page == "account" or page == "profile" %}
	<footer class="uk-section uk-section-transparent uk-section-large">
		<div class="uk-container uk-container-xsmall">
			<div class="uk-text-center">
				<h3 class="uk-h2 uk-margin-remove"><span class = "uk-link">Fear of missing out?</span></h3>
				<p class="uk-margin-remove-bottom uk-margin-xsmall-top">Be the first to know about the latest deals, style updates & more!</p>
			</div>
			<div class="uk-margin-top">
				<div data-uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true">
				<form>
					<div class="uk-grid-small" data-uk-grid>
					<div class="uk-width-1-1 uk-width-expand@s">
						<input type="email" placeholder="Email Address" class="uk-input uk-form-large uk-width-1-1">
					</div>
					<div class="uk-width-1-1 uk-width-auto@s">
						<input type="submit" value="Subscribe" class="button uk-button uk-button-large uk-button-secondary">
					</div>
					</div>
				</form>
				</div>
			</div>
		</div>
	{% else %}
		<footer class="uk-section uk-section-transparent uk-padding-top-cancel">
	{% endif %}


	<div class="uk-container uk-text-muted uk-margin-xlarge-top">
		<div class="uk-child-width-1-2@s uk-child-width-1-5@m" data-uk-grid>
			<div>
				<h5>About</h5>
				<ul class="uk-list uk-text-small">
					<li><a class="uk-link-muted" href="#">About Us</a></li>
					<li><a class="uk-link-muted" href="#">Terms of Use</a></li>
					<li><a class="uk-link-muted" href="#">Privacy Policy</a></li>
				</ul>
			</div>
			<div>
				<h5>Community</h5>
				<ul class="uk-list uk-text-small">
					<li><a class="uk-link-muted" href="#">Webinars</a></li>
					<li><a class="uk-link-muted" href="#">Developers</a></li>
					<li><a class="uk-link-muted" href="#">Platforms</a></li>
					<li><a class="uk-link-muted" href="#">Workshops</a></li>
					<li><a class="uk-link-muted" href="#">Local Meetups</a></li>
				</ul>
			</div>
			<div>
				<h5>Join Us</h5>
				<ul class="uk-list uk-text-small">
					<li><a class="uk-link-muted" href="#">Our Initiatives</a></li>
					<li><a class="uk-link-muted" href="#">Jobs</a></li>
					<li><a class="uk-link-muted" href="#">Experts</a></li>
				</ul>
			</div>
			<div>
				<h5>Contact</h5>
				<ul class="uk-list uk-text-small">
					<li><a class="uk-link-muted" href="#">Contact Us</a></li>
					<li><a class="uk-link-muted" href="#">LinkedIn</a></li>
					<li><a class="uk-link-muted" href="#">Facebook</a></li>
					<li><a class="uk-link-muted" href="#">Instagram</a></li>
				</ul>
			</div>
			<div>
				<div class="uk-margin">
					<a href="#" class="uk-logo">X04wiki</a>
				</div>
				<div class="uk-margin uk-text-small">				
					<p>Made by <a href="https://unbound.studio/" target="_blank">a random kid</a> in Tunisia.</p>
				</div>
				<div class="uk-margin">
					<div data-uk-grid class="uk-child-width-auto uk-grid-collapse">
						<div class="uk-margin-small-right">
							<a href="#" data-uk-icon="icon: facebook" class="uk-icon-link uk-icon"
								target="_blank"></a>
						</div>
						<div class="uk-margin-small-right">
							<a href="#" data-uk-icon="icon: instagram" class="uk-icon-link uk-icon"
								target="_blank"></a>
						</div>
						<div class="uk-margin-small-right">
							<a href="#" data-uk-icon="icon: twitter" class="uk-icon-link uk-icon"
								target="_blank"></a>
						</div>
						<div class="uk-margin-small-right">
							<a href="#" data-uk-icon="icon: youtube" class="uk-icon-link uk-icon"
								target="_blank"></a>
						</div>
						<div class="uk-margin-small-right">
							<a href="#" data-uk-icon="icon: vimeo" class="uk-icon-link uk-icon"
								target="_blank"></a>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
</footer>

{% endblock %}