


{% set page = "main page" %}
{% extends "base.html.twig" %}

{% block spreadsheets %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.13.1/dist/js/uikit-icons.min.js"></script>
	<link rel="stylesheet" href="{{ asset('css/tables.css') }}" />
	{{ parent() }}
{% endblock %}

{% block title %}X04wiki{% endblock %}

{% block body %}

{% include "components/fixed_header.html.twig" %}


<div class = "uk-section-transparent uk-margin-bottom-small uk-margin-horizontal-10 uk-box-shadow-bottom-small">
	
	<div class="uk-container uk-section-small">

	<div class="uk-flex uk-flex-middle uk-flex-column uk-width-1-1 uk-margin-small-bottom filter-options-container">
          <div class="uk-flex uk-flex-right uk-flex-last uk-flex-1 uk-margin-medium filter-search-container">
            <form onsubmit="return false;" class="uk-subnav uk-subnav-pill uk-search uk-search-default uk-width-medium">
              <span class="uk-search-icon-flip uk-icon uk-search-icon" uk-search-icon=""><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="search-icon"><circle fill="none" stroke="#000" stroke-width="1.1" cx="9" cy="9" r="7"></circle><path fill="none" stroke="#000" stroke-width="1.1" d="M14,14 L18,18 L14,14 Z"></path></svg></span>
              <input onkeyup="filterSearch();" uk-filter-control="" class="uk-search-input" type="search" placeholder="Search...">
            </form>
          </div>
          <div class="uk-flex uk-flex-center uk-flex-left@s uk-grid-small uk-grid-divider uk-child-width-auto uk-margin-small uk-grid" uk-grid="">

            <div>
              <ul class="uk-flex uk-flex-center uk-flex-left@s uk-subnav uk-subnav-pill">
                <li onclick="resetSearchBar();" uk-filter-control="filter: [tag='f1'];" class="uk-active"><a href="#">Fournisseurs</a></li>
                <li onclick="resetSearchBar();" uk-filter-control="filter: [tag='f2'];" class=""><a href="#">Certifications</a></li>
                <li onclick="resetSearchBar();" uk-filter-control="filter: [tag='f3'];" class=""><a href="#">Examens</a></li>
              </ul>
            </div>
          </div>
        </div>

	<div class="uk-section uk-section-xsmall">
		<div class="prlistcon">
<h3 class="fix">
<div class="flr">              <span uk-icon="icon: chevron-down; ratio: 1.5"></span>
<a href="https://www.lead4pass.com/cisco.html">More</a></div>Microsoft
</h3>
<ul class="fix">
<li><a href="https://www.lead4pass.com/200-301.html">Dynamics C5</a></li>
<li><a href="https://www.lead4pass.com/200-901.html">License Management</a></li>
<li><a href="https://www.lead4pass.com/300-625.html">MCAD.NET</a></li>
<li><a href="https://www.lead4pass.com/300-410.html">MCDBA</a></li>
<li><a href="https://www.lead4pass.com/300-415.html">MCSA: BI Reporting</a></li>
<li><a href="https://www.lead4pass.com/300-420.html">300-420</a></li>
<li><a href="https://www.lead4pass.com/300-425.html">300-425</a></li>
<li><a href="https://www.lead4pass.com/300-430.html">300-430</a></li>
<li><a href="https://www.lead4pass.com/300-435.html">300-435</a></li>
<li><a href="https://www.lead4pass.com/300-510.html">300-510</a></li>
<li><a href="https://www.lead4pass.com/300-610.html">300-610</a></li>
<li><a href="https://www.lead4pass.com/300-615.html">300-615</a></li>
<li><a href="https://www.lead4pass.com/300-620.html">300-620</a></li>
<li><a href="https://www.lead4pass.com/300-635.html">300-635</a></li>
<li><a href="https://www.lead4pass.com/300-710.html">300-710</a></li>
<li><a href="https://www.lead4pass.com/300-715.html">300-715</a></li>
<li><a href="https://www.lead4pass.com/300-730.html">300-730</a></li>
<li><a href="https://www.lead4pass.com/300-810.html">300-810</a></li>
<li><a href="https://www.lead4pass.com/300-815.html">300-815</a></li>
<li><a href="https://www.lead4pass.com/300-820.html">300-820</a></li>
<li><a href="https://www.lead4pass.com/350-401.html">350-401</a></li>
<li><a href="https://www.lead4pass.com/350-501.html">350-501</a></li>
<li><a href="https://www.lead4pass.com/350-601.html">350-601</a></li>
<li><a href="https://www.lead4pass.com/350-701.html">350-701</a></li>
</ul>
</div>
</div>


	<div class="uk-section uk-section-xsmall">
		<div class="prlistcon">
<h3 class="fix">
<div class="flr"><a href="https://www.lead4pass.com/cisco.html">More</a></div>Cisco
</h3>
<ul class="fix">
<li><a href="https://www.lead4pass.com/200-301.html">Cisco Certified DevNet Associate</a></li>
<li><a href="https://www.lead4pass.com/200-901.html">200-901</a></li>
<li><a href="https://www.lead4pass.com/300-625.html">300-625</a></li>
<li><a href="https://www.lead4pass.com/300-410.html">300-410</a></li>
<li><a href="https://www.lead4pass.com/300-415.html">300-415</a></li>
<li><a href="https://www.lead4pass.com/300-420.html">300-420</a></li>
<li><a href="https://www.lead4pass.com/300-425.html">300-425</a></li>
<li><a href="https://www.lead4pass.com/300-430.html">300-430</a></li>
<li><a href="https://www.lead4pass.com/300-435.html">300-435</a></li>
<li><a href="https://www.lead4pass.com/300-510.html">300-510</a></li>
<li><a href="https://www.lead4pass.com/300-610.html">300-610</a></li>
<li><a href="https://www.lead4pass.com/300-615.html">300-615</a></li>
<li><a href="https://www.lead4pass.com/300-620.html">300-620</a></li>
<li><a href="https://www.lead4pass.com/300-635.html">300-635</a></li>
<li><a href="https://www.lead4pass.com/300-710.html">300-710</a></li>
<li><a href="https://www.lead4pass.com/300-715.html">300-715</a></li>
<li><a href="https://www.lead4pass.com/300-730.html">300-730</a></li>
<li><a href="https://www.lead4pass.com/300-810.html">300-810</a></li>
<li><a href="https://www.lead4pass.com/300-815.html">300-815</a></li>
<li><a href="https://www.lead4pass.com/300-820.html">300-820</a></li>
<li><a href="https://www.lead4pass.com/350-401.html">350-401</a></li>
<li><a href="https://www.lead4pass.com/350-501.html">350-501</a></li>
<li><a href="https://www.lead4pass.com/350-601.html">350-601</a></li>
<li><a href="https://www.lead4pass.com/350-701.html">350-701</a></li>
</ul>
</div>
</div>

<div class="uk-section uk-section-xsmall">
<div class="prlistcon">
<h3 class="fix">
<div class="flr"><a href="https://www.lead4pass.com/comptia.html">More</a></div>CompTIA
</h3>
<ul class="fix">
<li><a href="https://www.lead4pass.com/220-1001.html">220-1001</a></li>
<li><a href="https://www.lead4pass.com/220-1002.html">220-1002</a></li>
<li><a href="https://www.lead4pass.com/cas-003.html">CAS-003</a></li>
<li><a href="https://www.lead4pass.com/cs0-001.html">CS0-001</a></li>
<li><a href="https://www.lead4pass.com/cs0-002.html">CS0-002</a></li>
<li><a href="https://www.lead4pass.com/cv0-002.html">CV0-002</a></li>
<li><a href="https://www.lead4pass.com/n10-007.html">N10-007</a></li>
<li><a href="https://www.lead4pass.com/pk0-004.html">PK0-004</a></li>
<li><a href="https://www.lead4pass.com/pt0-001.html">PT0-001</a></li>
<li><a href="https://www.lead4pass.com/sk0-004.html">SK0-004</a></li>
<li><a href="https://www.lead4pass.com/sy0-501.html">SY0-501</a></li>
<li><a href="https://www.lead4pass.com/sy0-601.html">SY0-601</a></li>
<li><a href="https://www.lead4pass.com/xk0-004.html">XK0-004</a></li>
<li><a href="https://www.lead4pass.com/225-030.html">225-030</a></li>
<li><a href="https://www.lead4pass.com/ct0-101.html">CT0-101</a></li>
<li><a href="https://www.lead4pass.com/fc0-u61.html">FC0-U61</a></li>
<li><a href="https://www.lead4pass.com/fc0-gr1.html">FC0-GR1</a></li>
<li><a href="https://www.lead4pass.com/ht0-201.html">HT0-201</a></li>
<li><a href="https://www.lead4pass.com/jk0-018.html">JK0-018</a></li>
<li><a href="https://www.lead4pass.com/lx0-104.html">LX0-104</a></li>
<li><a href="https://www.lead4pass.com/n10-005.html">N10-005</a></li>
<li><a href="https://www.lead4pass.com/pd0-001.html">PD0-001</a></li>
<li><a href="https://www.lead4pass.com/rf0-001.html">RF0-001</a></li>
<li><a href="https://www.lead4pass.com/tk0-201.html">TK0-201</a></li>
</ul>
</div>
</div>
<div class="uk-section uk-section-xsmall">
<ul class="uk-pagination uk-flex-center" uk-margin>
    <li><a href="#"><span uk-pagination-previous></span></a></li>
    <li><a href="#">1</a></li>
    <li class="uk-disabled"><span>...</span></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li class="uk-active"><span>7</span></li>
    <li><a href="#">8</a></li>
    <li><a href="#"><span uk-pagination-next></span></a></li>
</ul>
</div>
		</div>
		
	</div>

{% include "components/footer.html.twig" %}

{% endblock %}