<header id="header" class="uk-background-primary uk-background-norepeat uk-background-cover 
	uk-background-center-center" 
	style="position:relative; box-shadow: rgb(141 141 141 / 30%) 0px 12px 38px, rgb(0 0 0 / 22%) 0px 7px 12px; background-image: url({{ asset("imgs/home.jpg") }});">
	<div class="uk-navbar-wrapper" data-uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent; top: #header; media: @m">
		{% include 'components/navigation.html.twig' %}
	</div>

	<div>
        <div class="uk-section uk-section-small uk-section-hero uk-position-relative uk-light"  
        data-uk-scrollspy="cls: uk-animation-slide-bottom-medium"></div>
	</div>
</header>