
{% if page == "account" or page == "profile" %}
	<footer class="uk-section uk-section-transparent uk-section-large">
		<div class="uk-container uk-container-xsmall">
			<div class="uk-text-center">
				<h3 class="uk-h2 uk-margin-remove"><span class = "uk-link">Fear of missing out?</span></h3>
				<p class="uk-margin-remove-bottom uk-margin-xsmall-top">Be the first to know about the latest deals, style updates & more!</p>
			</div>
			<div class="uk-margin-top">
				<div data-uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true">
				<form>
					<div class="uk-grid-small" data-uk-grid>
					<div class="uk-width-1-1 uk-width-expand@s">
						<input type="email" placeholder="Email Address" class="uk-input uk-form-large uk-width-1-1">
					</div>
					<div class="uk-width-1-1 uk-width-auto@s">
						<input type="submit" value="Subscribe" class="button uk-button uk-button-large uk-button-secondary">
					</div>
					</div>
				</form>
				</div>
			</div>
		</div>
	{% else %}
		<footer class="uk-section uk-section-transparent uk-padding-top-cancel">
	{% endif %}


	<div class="uk-container uk-text-muted uk-margin-xlarge-top">
		<div class="uk-child-width-1-2@s uk-child-width-1-5@m" data-uk-grid>
			<div>
				<h5>About</h5>
				<ul class="uk-list uk-text-small">
					<li><a class="uk-link-muted" href="#">About Us</a></li>
					<li><a class="uk-link-muted" href="#">Terms of Use</a></li>
					<li><a class="uk-link-muted" href="#">Privacy Policy</a></li>
				</ul>
			</div>
			<div>
				<h5>Community</h5>
				<ul class="uk-list uk-text-small">
					<li><a class="uk-link-muted" href="#">Webinars</a></li>
					<li><a class="uk-link-muted" href="#">Developers</a></li>
					<li><a class="uk-link-muted" href="#">Platforms</a></li>
					<li><a class="uk-link-muted" href="#">Workshops</a></li>
					<li><a class="uk-link-muted" href="#">Local Meetups</a></li>
				</ul>
			</div>
			<div>
				<h5>Join Us</h5>
				<ul class="uk-list uk-text-small">
					<li><a class="uk-link-muted" href="#">Our Initiatives</a></li>
					<li><a class="uk-link-muted" href="#">Jobs</a></li>
					<li><a class="uk-link-muted" href="#">Experts</a></li>
				</ul>
			</div>
			<div>
				<h5>Contact</h5>
				<ul class="uk-list uk-text-small">
					<li><a class="uk-link-muted" href="#">Contact Us</a></li>
					<li><a class="uk-link-muted" href="#">LinkedIn</a></li>
					<li><a class="uk-link-muted" href="#">Facebook</a></li>
					<li><a class="uk-link-muted" href="#">Instagram</a></li>
				</ul>
			</div>
			<div>
				<div class="uk-margin uk-text-align-center">
					<a href="#" class="uk-logo">CertifiyTN</a>
				</div>
				<div class="uk-margin uk-text-small uk-text-align-center">				
					<p>Made by <a href="https://unbound.studio/" target="_blank">two random kids</a> in Tunisia.</p>
				</div>
				<div class="uk-margin">
					<div data-uk-grid class="uk-child-width-auto uk-grid-collapse">
						<div class="uk-margin-small-right">
							<a href="#" data-uk-icon="icon: facebook" class="uk-icon-link uk-icon"
								target="_blank"></a>
						</div>
						<div class="uk-margin-small-right">
							<a href="#" data-uk-icon="icon: instagram" class="uk-icon-link uk-icon"
								target="_blank"></a>
						</div>
						<div class="uk-margin-small-right">
							<a href="#" data-uk-icon="icon: twitter" class="uk-icon-link uk-icon"
								target="_blank"></a>
						</div>
						<div class="uk-margin-small-right">
							<a href="#" data-uk-icon="icon: youtube" class="uk-icon-link uk-icon"
								target="_blank"></a>
						</div>
						<div class="uk-margin-small-right">
							<a href="#" data-uk-icon="icon: vimeo" class="uk-icon-link uk-icon"
								target="_blank"></a>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
</footer>