


<div class="uk-section uk-section-transparent uk-padding-top-cancel uk-margin-bottom-medium uk-box-shadow-78-tomiddle">
	<div class="our-services">
		<div>
			<ul class="services-list">
				<li>
					<div class="service-icon"><span class="glyphicon glyphicon-education ficon">&nbsp;</span></div>
					<div class="services-title">
						<h2>Guarantee to Pass</h2>
						<p>We provide you all latest and updated exams Q&amp;A's which are easy to learn in PDF and Testing Engine Format.</p>
					</div>
				</li>
				
				<li>
					<div class="service-icon"><span class="glyphicon glyphicon-saved ficon">&nbsp;</span></div>
					<div class="services-title">
						<h2>Tested / Approved</h2>
						<p>All DumpsCollection products Questions and Answers are tested and approved by our experts. </p>
					</div>
				</li>

				<li>
					<div class="service-icon"><span class="glyphicon glyphicon-download-alt ficon">&nbsp;</span></div>
					<div class="services-title">
						<h2>Try Before Buy</h2>
						<p>We offer Free demos on request so you can use them and verify the standard, quality and accuracy.</p>
					</div>
				</li>

				<li>
					<div class="service-icon"><span class="glyphicon glyphicon-repeat ficon">&nbsp;</span></div>
					<div class="services-title">
						<h2>Free Update</h2>
						<p>We provide you DumpsCollection 3 Months Free Exam Updates at no cost.</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="uk-container uk-container-xsmall">
		<div class="uk-text-center">
			<h3 class="uk-h2 uk-margin-remove"><span class = "uk-link">Fear of missing out?</span></h3>
			<p class="uk-margin-remove-bottom uk-margin-xsmall-top">Be the first to know about the latest deals, style updates & more!</p>
		</div>
		<div class="uk-margin-top">
			<div data-uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true">
			<form>
				<div class="uk-grid-small" data-uk-grid>
				<div class="uk-width-1-1 uk-width-expand@s">
					<input type="email" placeholder="Email Address" class="uk-input uk-form-large uk-width-1-1">
				</div>
				<div class="uk-width-1-1 uk-width-auto@s">
					<input type="submit" value="Subscribe" class="button uk-button uk-button-large uk-button-secondary">
				</div>
				</div>
			</form>
			</div>
		</div>
	</div>
</div>

<div class="uk-section uk-section-transparent uk-padding-top-large uk-box-shadow-78-totop uk-padding-bottom-large">
	<div class="uk-container uk-text-muted uk-margin-medium-top">
		<div style = "width: fit-content; margin: 0 auto; display: flex;">
			<div style = "margin-right: 50px">
				<div class="uk-margin uk-text-align-center">
					<span class="uk-logo-glowing uk-link">CertifiyTN</a>
				</div>
				<div class="uk-margin uk-text-small uk-text-align-center">				
					<p>Made by <a href="https://unbound.studio/" target="_blank">a random kid</a> in Tunisia.</p>
				</div>
				<div class="uk-margin">
					<div data-uk-grid class="uk-child-width-auto uk-grid-collapse">
						<div class="uk-margin-small-right">
							<a href="#" data-uk-icon="icon: facebook" class="uk-icon-link uk-icon"
								target="_blank"></a>
						</div>
						<div class="uk-margin-small-right">
							<a href="#" data-uk-icon="icon: instagram" class="uk-icon-link uk-icon"
								target="_blank"></a>
						</div>
						<div class="uk-margin-small-right">
							<a href="#" data-uk-icon="icon: twitter" class="uk-icon-link uk-icon"
								target="_blank"></a>
						</div>
						<div class="uk-margin-small-right">
							<a href="#" data-uk-icon="icon: youtube" class="uk-icon-link uk-icon"
								target="_blank"></a>
						</div>
						<div class="uk-margin-small-right">
							<a href="#" data-uk-icon="icon: vimeo" class="uk-icon-link uk-icon"
								target="_blank"></a>
						</div>
					</div>
				</div>
			</div>
			<div>
				<h5>About</h5>
				<ul class="uk-list uk-text-small">
					<li><a class="uk-link-muted" href="#">About Us</a></li>
					<li><a class="uk-link-muted" href="#">Terms of Use</a></li>
					<li><a class="uk-link-muted" href="#">Privacy Policy</a></li>
				</ul>
			</div>
		</div>
		<div style = "text-align: center;margin-top: 50px;">
			<span>Copyright © 2022 DumpCollection NETWORK CO.,LIMITED. All Rights Reserved. All trademarks used are properties of their respective owners. </span>
		</div>
	</div>
</div>