{% extends "admin/base.html.twig" %}

{% block title %}Providers - Ajouter{% endblock %}

{% block scriptsheet %}
    <script>
        document.getElementById("admin_providers").classList.add("link-active");
    </script>
{% endblock %}


{% block form %}
    <div class = "form_container">
        {{ include('admin/providers/_form.html.twig') }}
    </div>
{% endblock %}